<div class="outline">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Record Time</mat-card-title>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content class="card-content">
      {{currentTime}}
    </mat-card-content>
  </mat-card>
  <div class="record-button">
    <button mat-raised-button style="width: 150px; background: #ffaaa4" (click)="record()">记录</button>
    <button mat-raised-button style="width: 150px; background: #899bff" (click)="saved()">保存</button>
  </div>
</div>
